@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sec-p-y {
    @apply py-14 md:py-24
  }
/* 
  .sec-gap{
    @apply gap-6 md:gap-12 lg:gap-32
  } */
}


/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2a2a2a; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

.shadow-effect {
  position: relative;
  pointer-events: none;
}

.primary-shadow{

}

.shadow-effect::after{
  content: "";
  position: absolute;
  inset: 0; 
  z-index: -1; 
  background: radial-gradient(circle, #EB6335, #FFD300);
  border-radius: 50%;
}


.primary-shadow::after{
  content: "";
  position: absolute;
  inset: 0; 
  z-index: -1; 
  background: radial-gradient(circle, #FC483033, #FFB80033);
  border-radius: 50%;
}

.primary-shadow::before {
  content: "";
  position: absolute;
  inset: 0; 
  z-index: -1; 
  background: radial-gradient(circle, #FF4F1800, #FF4117);
  border-radius: 50%;
}



.hero-box-wrapper {
  border-radius: 1.5rem;
}

.hero-box {
  border-radius: 1.5rem;
}

.hero-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 1.5rem;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: rgb(255,211,0);
  background: linear-gradient(90deg, rgba(255,211,0,1) 0%, rgba(235,99,53,1) 100%);
}

.roadmap-item {
  position: relative;
  box-shadow: 0px 4px 10px #ffffff44 inset;
}

.tokenomics-item {
  box-shadow: 0px 4px 4px 0 #51515140 inset;
}

.tokenomics-item::after {
  background-color: attr(data-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
